<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Freight Charge</title>
    <script src="https://kit.fontawesome.com/a2c9d7080d.js" crossorigin="anonymous"></script>
  </head>
  <body>
<div class="main-content">
      
  
      <div class="row">
          <div class="column-1" >
              <div class="vertical-menu">
                <a href="/edit-charges" class="active">Freight Charges</a>
                <a href="/accepted-quotes" class="active">Accepted Quotes</a>
                <a href="/my-quote-requests">Custom Quote Requests</a>
              </div>
          </div>
          <div class="column-2" >
            <div style="text-align:right;margin-bottom: 20px;">
              <a href="/request-a-quote" class="btn btn-primary" >Request Custom Quote</a>
            </div>
            
            
            <div class="card">
              <div class="card-body">
                
                <h2>Add Freight Charge</h2>
                <br>
                <form action="add-charge" method="POST" novalidate>
                  <div class="form-group2">
                    <div class="form-cell">
                      <label for="origin">Origin</label>
                      <input  type="text" class="form-control"  id="origin" name="origin">
                    </div>

                    <div class="form-cell">
                      <label for="originCountry">Origin Country</label>
                      <select   class="form-control" name="originCountry" id="originCountry">
                        <option value="USA">USA</option>
                        <option value="China">China</option>
                    </select>
                    </div>

                    <div class="form-cell">
                      <label for="shippingMethod" >Shipping Method:</label>
                      <select   class="form-control" name="shippingMethod" id="shippingMethod" onchange="disableFields()" onfocus="this.selectedIndex = -1;">
                          <option value="Sea Freight">Sea Freight</option>
                          <option value="Air Freight">Air Freight</option>
                      </select>
                    </div>

                    <div class="form-cell airFreight">
                      <label for="originAirport">Airport of Loading</label>
                      <input  type="text" class="form-control"  id="originAirport"  name="originAirport">
                    </div>

                    <div class="form-cell seaFreight">
                      <label for="originPort">Port of Loading</label>
                      <input  type="text" class="form-control"  id="originPort"  name="originPort">
                    </div>

                    <div class="form-cell">
                      <label for="shippingspeed" >Shipping Speed:</label>
                      <select   class="form-control" name="shippingspeed" id="shippingspeed">
                          <option value="Transhipment">Transhipment</option>
                          <option value="Direct">Direct</option>
                          <option value="Express">Express</option>
                      </select>
                    </div>

                    <div class="form-cell seaFreight">
                      <label for="containerSize" >Container Size:</label>
                        <select   class="form-control" name="containerSize" id="containerSize">
                            <option value="40' FCL GP">20' FCL GP</option>
                            <option value="20' FCL GP">40' FCL GP</option>
                        </select>
                    </div>
                  </div>

                  
                  <h3>Origin and Freight Charges (USD)</h3>
                    <br>
                  <div class="form-group2">
                    
                    <div class="form-cell seaFreight" >
                      <label for="originCharges">Origin Charges:</label>
                      <input type="number" class="form-control"  id="originCharges" name="originCharges" onkeyup="computeoriginCharges()">
                    </div>

                    <div class="form-cell airFreight" >
                      <label for="airFreightRate" >Air Freight Rate per Kilogram (Includes Inland Pick, Airline Handling & Freight):</label>
                      <input type="number" class="form-control"  id="airFreightRate" name="airFreightRate" >
                    </div>

                    <div class="form-cell airFreight" >
                      <label for="documentationFee" >Documentation Fees:</label>
                      <input type="number" class="form-control"  id="documentationFee" name="documentationFee" onkeyup="computeoriginCharges()">
                    </div>

                    <div class="form-cell airFreight">
                      <label for="cartageFromOrigin" >Cartage from Origin:</label>
                      <input type="number" class="form-control"  id="cartageFromOrigin" name="cartageFromOrigin" onkeyup="computeoriginCharges()">
                    </div>

                    <div class="form-cell seaFreight" >
                      <label for="portToPortCharges" >Port-to-Port Charges Fees:</label>
                      <input type="number" class="form-control"  id="portToPortCharges" name="portToPortCharges" onkeyup="computeoriginCharges()">
                    </div>

                    <div class="form-cell">
                      <label for="handlingFees">AES Filng and Handling Fees:</label>
                      <input type="number" class="form-control"  id="handlingFees" name="handlingFees" onkeyup="computeoriginCharges()">
                    </div>

                    <div class="form-cell seaFreight" >
                      <label for="congestionFees">Congestion Fee (due to COVID-19):</label>
                      <input type="number" class="form-control"  id="congestionFees" name="congestionFees" onkeyup="computeoriginCharges()">
                    </div>

                    <div class="form-cell seaFreight" >
                      <label for="additionalCharges">Additional Pickup Charges + ISPS Fee:</label>
                      <input type="number" class="form-control" required id="additionalCharges" name="additionalCharges" onkeyup="computeoriginCharges()">
                    </div>

                    <div class="form-cell">
                      <label for="exchangeRate">USD to AUD Exchange Rate:</label>
                      <input type="number" class="form-control"  id="exchangeRate" name="exchangeRate" onkeyup="computeoriginCharges()">
                    </div>

                    <div class="form-cell">
                      <label for="totalOriginCharges">Total Origin Charges (AUD):</label>
                      <input type="number" class="form-control"  id="totalOriginCharges" name="totalOriginCharges">
                    </div>
                    
                  </div>
                  
                  <h3>Local Port Charges (AUD)</h3>
                    <br>
                  <div class="form-group2 seaFreight" >
                    
                    <div class="form-cell">
                      <label for="terminalHandlingFee" id="terminalHandlingFeeLabel">Terminal Handling Fees:</label>
                      <input type="number" class="form-control"  id="terminalHandlingFee" name="terminalHandlingFee" onkeyup="computelocalPortCharges()">
                    </div>

                    <div class="form-cell">
                      <label for="DOFee">Delivery Order Fee:</label>
                      <input type="number" class="form-control"  id="DOFee" name="DOFee" onkeyup="computelocalPortCharges()">
                    </div>

                    <div class="form-cell">
                      <label for="shipdocsFee">Shipping Line Documentation Fee:</label>
                      <input type="number" class="form-control"  id="shipdocsFee" name="shipdocsFee" onkeyup="computelocalPortCharges()">
                    </div>

                    <div class="form-cell">
                      <label for="SeaCargoAutFee">Sea Cargo Automation:</label>
                      <input type="number" class="form-control"  id="SeaCargoAutFee" name="SeaCargoAutFee" onkeyup="computelocalPortCharges()">
                    </div>
                    
                    <div class="form-cell">
                      <label for="CMRFee">CMR Fee:</label>
                      <input type="number" class="form-control"  id="CMRFee" name="CMRFee" onkeyup="computelocalPortCharges()">
                    </div>

                    <div class="form-cell">
                      <label for="localPortCharges">Total Local Port Charges:</label>
                      <input type="number" class="form-control"  id="localPortCharges" name="localPortCharges">
                    </div>

                  </div>

                  <h3>Local Transport/Delivery Charges (AUD)</h3>
                  <br>
                  <div class="form-group2">
                    
                    <div class="form-cell airFreight">
                      <label for="ITF">Import Terminal Fee (ITF):</label>
                      <input type="number" class="form-control"  id="ITF" name="ITF" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell airFreight">
                      <label for="ADF">Airline Document Fee:</label>
                      <input type="number" class="form-control"  id="ADF" name="ADF" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell airFreight">
                      <label for="AHF">Airline Handling Fee:</label>
                      <input type="number" class="form-control"  id="AHF" name="AHF" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell airFreight">
                      <label for="ACA">Air Cargo Automation:</label>
                      <input type="number" class="form-control"  id="ACA" name="ACA" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell airFreight">
                      <label for="cargoReportingFee">Cargo Reporting Fee:</label>
                      <input type="number" class="form-control"  id="cargoReportingFee" name="cargoReportingFee" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell airFreight">
                      <label for="postage">Postage and Petties:</label>
                      <input type="number" class="form-control"  id="postage" name="postage" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell airFreight">
                      <label for="base">Base:</label>
                      <input type="number" class="form-control"  id="base" name="base" onkeyup="computeTransportCharges()" >
                    </div>

                    <div class="form-cell">
                      <label for="cartageFee">Cartage to Destination:</label>
                      <input type="number" class="form-control"  id="cartageFee" name="cartageFee" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell seaFreight">
                      <label for="portInfraFee">Port Infrastructure Fee:</label>
                      <input type="number" class="form-control"  id="portInfraFee" name="portInfraFee" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell seaFreight">
                      <label for="CORFee">Chain of Responsibilty:</label>
                      <input type="number" class="form-control"  id="CORFee" name="CORFee" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell seaFreight">
                      <label for="wharfSlotFee">Wharf Slot Fees:</label>
                      <input type="number" class="form-control"  id="wharfSlotFee" name="wharfSlotFee" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell">
                      <label for="fuelSurcharge">Cartage Fuel Surcharge:</label>
                      <input type="number" class="form-control"  id="fuelSurcharge" name="fuelSurcharge" onkeyup="computeTransportCharges()">
                    </div>
                    
                    <div class="form-cell">
                      <label for="tollFee">Toll Fees:</label>
                      <input type="number" class="form-control"  id="tollFee" name="tollFee" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell seaFreight">
                      <label for="dehireFee">De-Hire/ Empty Fee:</label>
                      <input type="number" class="form-control"  id="dehireFee" name="dehireFee" onkeyup="computeTransportCharges()">
                    </div>

                    <div class="form-cell">
                      <label for="localTransportCharges">Total Local Transport Charges:</label>
                      <input type="number" class="form-control"  id="localTransportCharges" name="localTransportCharges" >
                    </div>
                  </div>
                  
  
                <button type="submit" class="btn btn-primary">Add Freight Charge</button>
                  
                  
                </form>
          </div>

          <script>

            function disableFields(){
              var shippingMethod = document.getElementById("shippingMethod").value;
              var airFreight = document.getElementsByClassName('airFreight');
              var seaFreight = document.getElementsByClassName('seaFreight');
              if(shippingMethod === "Sea Freight"){
               
                for (var i = 0; i < airFreight.length; i ++) {
                    airFreight[i].style.display = 'none';
                }
                for (var i = 0; i < seaFreight.length; i ++) {
                    seaFreight[i].style.display = 'block';
                }
              }
              else{
                for (var i = 0; i < seaFreight.length; i ++) {
                    seaFreight[i].style.display = 'none';
                }
                for (var i = 0; i < airFreight.length; i ++) {
                    airFreight[i].style.display = 'block';
                }
              }
            }

            function computeoriginCharges() {
              let totalOriginCharges = document.getElementById("totalOriginCharges");

              //Sea Freight
              let originCharges= parseFloat(document.getElementById("originCharges").value);
              let portToPortCharges = parseFloat(document.getElementById("portToPortCharges").value);
              let congestionFees= parseFloat(document.getElementById("congestionFees").value);
              let additionalCharges = parseFloat(document.getElementById("additionalCharges").value);
              let shippingMethod = document.getElementById("shippingMethod").value;

              //Air Freight
              let documentationFee = parseFloat(document.getElementById("documentationFee").value);
              let cartageFromOrigin = parseFloat(document.getElementById("cartageFromOrigin").value);

              //Both
              let handlingFees= parseFloat(document.getElementById("handlingFees").value);
              let exchangeRate = parseFloat(document.getElementById("exchangeRate").value);
              
              totalOriginCharges.value = 0;
              if(shippingMethod === "Sea Freight"){
                if(portToPortCharges!="" && originCharges!="" && handlingFees!="" && congestionFees!="" && additionalCharges!="" && exchangeRate!=""){
                  let sum = originCharges + portToPortCharges + handlingFees + congestionFees + additionalCharges;
                  console.log(sum);
                  let subtotal = parseFloat(sum) * exchangeRate;
                  totalOriginCharges.value = subtotal;
                }
                else{
                totalOriginCharges.value = 0;
                }
              }
              else{
                if(documentationFee!="" && cartageFromOrigin!="" && handlingFees!="" && exchangeRate!=""){
                  let sum = documentationFee + handlingFees;
                  console.log(sum);
                  let subtotal = parseFloat(sum) * exchangeRate;
                  totalOriginCharges.value = subtotal;
                }
                else{
                totalOriginCharges.value = 0;
                }
              }
              
            }
            
            
            function computelocalPortCharges() {
              let localPortCharges = document.getElementById("localPortCharges");
              let terminalHandlingFee = document.getElementById("terminalHandlingFee").value;
              let shipdocsFee = document.getElementById("shipdocsFee").value;
              let DOFee = document.getElementById("DOFee").value;
              let SeaCargoAutFee = document.getElementById("SeaCargoAutFee").value;
              let CMRFee = document.getElementById("CMRFee").value;

              if(terminalHandlingFee!="" && shipdocsFee!="" && DOFee!="" && SeaCargoAutFee!="" && CMRFee!=""){
                localPortCharges.value = +terminalHandlingFee + +shipdocsFee + +DOFee + +SeaCargoAutFee + +CMRFee;
                console.log(localPortCharges.value);
              }
              else{
                localPortCharges.value = 0;
              }
            }

            function computeTransportCharges() {
              let localTransportCharges = document.getElementById("localTransportCharges");

              //Sea Freight
              
              let portInfraFee = parseFloat(document.getElementById("portInfraFee").value);
              let wharfSlotFee = parseFloat(document.getElementById("wharfSlotFee").value);
              let CORFee= parseFloat(document.getElementById("CORFee").value);
              let dehireFee= parseFloat(document.getElementById("dehireFee").value);

              //Air Freight
              let ADF= parseFloat(document.getElementById("ADF").value);
              let ACA= parseFloat(document.getElementById("ACA").value);
              let cargoReportingFee= parseFloat(document.getElementById("cargoReportingFee").value);
              let postage= parseFloat(document.getElementById("postage").value);
              let base= parseFloat(document.getElementById("base").value);


              //both
              let tollFee = parseFloat(document.getElementById("tollFee").value);
              let cartageFee= parseFloat(document.getElementById("cartageFee").value);
              let fuelSurcharge = parseFloat(document.getElementById("fuelSurcharge").value);
              let shippingMethod = document.getElementById("shippingMethod").value;

              if(shippingMethod === "Sea Freight"){
                console.log(shippingMethod);console.log(cartageFee);
                localTransportCharges.value = cartageFee + portInfraFee + wharfSlotFee + fuelSurcharge + CORFee + tollFee + dehireFee;
                console.log(localTransportCharges.value);
                
              }
              else if (shippingMethod === "Air Freight"){
                  localTransportCharges.value = cartageFee +  fuelSurcharge + tollFee + ADF + ACA + cargoReportingFee + postage + base;
                  console.log(localTransportCharges.value);
                
              }
              else{
                localTransportCharges.value = 0;
              }
            }

            

          </script>
          
        </div>
  
  
  
          </div>
      </div>
    </div>
    
  </body>
</html>