<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="MANUFACTURING AND IMPORTING MADE EASY">
  <link href="assets/images/favicon/favicon.png" rel="icon">
  <title>Big E Imports</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:400,500,700%7cPoppins:400,600,700&display=swap">
  <link rel="stylesheet" href="/stylesheets/libraries.css" />
  <link rel="stylesheet" href="/stylesheets/home-style.css" />
</head>

<body>
  <div class="wrapper">
    <!-- =========================
        Header
    =========================== -->
    <header id="header" class="header header-white header-full">
      <div class="header__topbar d-none d-xl-block">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7">
              <ul class="contact__list list-unstyled">
                <li><span>Full-service sports nutrition manufacturing and importing agency</span></li>
              </ul>
            </div><!-- /.col-lg-7 -->
            <div class="col-sm-12 col-md-5 col-lg-5 d-flex align-items-center justify-content-end">
              
              <div class="social__icons justify-content-end">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div><!-- /.col-lg-5 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>
      <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="https://i.ibb.co/X3C8c83/bigeimports-OG-2x.png" class="logo-light" alt="logo">
            <img src="https://i.ibb.co/X3C8c83/bigeimports-OG-2x.png" class="logo-dark" alt="logo">
          </a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav__item with-dropdown">
                <a href="/" class="dropdown-toggle nav__item-link active">Home</a>
                
              </li><!-- /.nav-item -->
              <li class="nav__item ">
                <a href="#about-us" class="dropdown-toggle nav__item-link">About Us</a>
              </li><!-- /.nav-item -->
              <li class="nav__item ">
                <a href="#why" class="dropdown-toggle nav__item-link">Why Big E Imports</a>
              </li><!-- /.nav-item -->
              <li class="nav__item ">
                <a href="#manufacturing" class="dropdown-toggle nav__item-link">Manufacturing</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="#certifications" class="nav__item-link">Certifications</a>
              </li><!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
          </div><!-- /.navbar-collapse -->
          <div class="navbar-modules">
            <ul class="modules__wrapper d-flex align-items-center list-unstyled">
              <li>
                <a href="#" class="module__btn module__btn-search"><i class="fa fa-search"></i></a>
              </li>
              <li class="d-none d-lg-block">
                <a href="/login" class="module__btn btn__request btn">
                  <span>Request A Quote</span><i class="icon-arrow-right"></i>
                </a>
              </li>
            </ul><!-- /.modules-wrapper -->
          </div><!-- /.navbar-modules -->
        </div><!-- /.container -->
      </nav><!-- /.navabr -->
    </header><!-- /.Header -->

    <!-- ============================
        Slider
    ============================== -->
    <section id="slider2" class="slider slider-2">
      <div class="carousel owl-carousel carousel-arrows carousel-dots carousel-dots-white" data-slide="1"
        data-slide-md="1" data-slide-sm="1" data-autoplay="true" data-nav="true" data-dots="true" data-space="0"
        data-loop="true" data-speed="3000" data-transition="fade" data-animate-out="fadeOut" data-animate-in="fadeIn">
        <div class="slide-item align-v-h bg-overlay">
            
          <div class="bg-img"><img src="https://big-e-app.herokuapp.com/images/sliders/1.jpg" alt="1"  alt="slide img"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
                <div class="slide__content">
                    <h2 class="slide__title">Manufacturing and <br> importing made easy! </h2>
                    <p class="slide__desc">Importing and exporting (sea or air Freight) sports supplements globally through<br>reputable logistics and freight organisations</p>
                    <a href="#" class="btn btn__primary">Get Started</a>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-10 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src="https://big-e-app.herokuapp.com/images/sliders/2.jpg" alt="slide img"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
                <div class="slide__content">
                  <h2 class="slide__title">Manufacturing and <br> importing made easy! </h2>
                  <p class="slide__desc">Importing and exporting (sea or air Freight) sports supplements globally through<br>reputable logistics and freight organisations</p>
                  <a href="#" class="btn btn__primary">Get Started</a>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-10 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
      </div><!-- /.carousel -->
    </section><!-- /.slider -->

    <!-- =========================== 
      fancybox Layout 3
    ============================= -->
    <section id="fancyboxLayout3" class="fancybox-layout3 p-0">
      <div class="container">
        <div class="row fancybox-boxes-wrap">
          <!-- fancybox item #1 -->
          <div class="col-sm-6 col-md-6 col-lg-3 fancybox-item">
            <div class="fancybox__icon">
              <i class="icon-wallet"></i>
            </div><!-- /.fancybox-icon -->
            <div class="fancybox__content">
              <h4 class="fancybox__title">Transparent Pricing</h4>
              <p class="fancybox__desc">International supply chains involves challenging regulations.</p>
            </div><!-- /.fancybox-content -->
          </div><!-- /.fancybox-item -->
          <!-- fancybox item #2 -->
          <div class="col-sm-6 col-md-6 col-lg-3 fancybox-item">
            <div class="fancybox__icon">
              <i class="icon-search"></i>
            </div><!-- /.fancybox-icon -->
            <div class="fancybox__content">
              <h4 class="fancybox__title">Real-Time Tracking</h4>
              <p class="fancybox__desc">Ensure customers’ supply chains are fully compliant by practices.</p>
            </div><!-- /.fancybox-content -->
          </div><!-- /.fancybox-item -->
          <!-- fancybox item #3 -->
          <div class="col-sm-6 col-md-6 col-lg-3 fancybox-item">
            <div class="fancybox__icon">
              <i class="icon-trolley"></i>
            </div><!-- /.fancybox-icon -->
            <div class="fancybox__content">
              <h4 class="fancybox__title">Warehouse Storage</h4>
              <p class="fancybox__desc">Depending on your product, we provide warehouse activities.</p>
            </div><!-- /.fancybox-content -->
          </div><!-- /.fancybox-item -->
          <!-- fancybox item #4 -->
          <div class="col-sm-6 col-md-6 col-lg-3 fancybox-item">
            <div class="fancybox__icon">
              <i class="icon-package-6"></i>
            </div><!-- /.fancybox-icon -->
            <div class="fancybox__content">
              <h4 class="fancybox__title">Security For Cargo</h4>
              <p class="fancybox__desc">High security requirements and are certified to local standards.</p>
            </div><!-- /.fancybox-content -->
          </div><!-- /.fancybox-item -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.fancybox Layout3 -->

    <!-- ========================
      About 1
    =========================== -->
    <section id="about-us" class="about about-1 pt-50">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="heading heading-3 ">
                
              <h2 class="heading__title">Full-service manufacturing and importing agency</h2>
              <p class="heading__desc mb-30">Big E Imports is a full service company that will help brands with everything
                from graphic design, custom product formulation, custom flavoring, sourcing
                of raw materials, regulatory compliance, and importing and exporting
                regulations.</p>
              <p class="heading__desc mb-30">Manufacturing customised sports supplements through multiple GMP/NSF
                Manufacturing facilities in the United State of America in order to meet any
                quantity or product demand required.</p>
                <p class="heading__desc mb-30">Ability to construct and formulate the complete range of sports supplements
                    suitable to the needs of the end users specifications and product objectives.
                    Design and implement the “look” and “feel” of the sports supplements labels in
                    line with the end-users marketing strategies.</p>
            <p class="heading__desc mb-30">
                Consulting, advice and regulatory compliance services for the importation of
nutritional supplement, compliance of such products to the standards and the
positioning of the product in the home consumption market of Australia. We strive
our clients to comply with the following government bodies. Australian Border
Force (Australian Customs), Quarantine and Biosecurity
            </p>

            <p class="heading__desc mb-30">Importing and exporting (sea or air Freight) sports supplements globally through reputable logistics and freight organisations.</p>
                    
            </div><!-- /.heading -->
          </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About 1 -->

    <!-- ========================= 
         Banner 2
    =========================  -->
    <section id="why" class="banner banner-2 p-0">
      <div class="container-fluid col-padding-0">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 bg-theme">
            <div class="inner-padding">
              <div class="heading heading-3 heading-white mb-40">
                <h2 class="heading__title">Why Big E Imports?</h2>
                <p class="heading__desc">Our team has the experience that ranges from sports nutrition / dietary
                    supplements, to functional foods, gummies, vaping liquids, liquid energy shots,
                    ready to drinks, encapsulation, protein bars, other nutritional bars, chips, sauces,
                    dips, yogurts, alcohol spirits, ice creams, carbonated beverages, kombucha
                    beverages, dairy beverages.</p>

                    <h2 class="heading__title">Networking + Advertising</h2>
                <p class="heading__desc">We don’t need to advertise what we do because we have a stellar reputation
                    and all of our business is through “word of mouth”. We pride ourselves on quality,
                    highly efficient, and amazing tasting products.</p>

                    <h2 class="heading__title">Why trust us?</h2>
                <p class="heading__desc">Big E Imports has worked with some of the biggest brands in the sports nutrition
                    industry as well as food and beverage industry.
                    THIS IS WHAT WE DO!!</p>
              </div><!-- /.heading -->
             
            </div>
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-12 col-lg-6 background-banner bg-overlay bg-parallax">
            <div><img src="https://big-e-app.herokuapp.com/images/banners/5.jpg" alt="background" style="object-fit: cover !important;width:100% !important; height :100% !important;"></div>
            
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Banner 2 -->

     <!-- ========================= 
         Banner 3
    =========================  -->
    <section id="manufacturing" class="banner banner-2 p-0">
        <div class="container-fluid col-padding-0">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 background-banner bg-overlay bg-parallax">
            <div><img src="https://big-e-app.herokuapp.com/images/banners/5-2.jpg" alt="background" style="object-fit: cover !important;width:100% !important; height :100% !important;"></div>
            
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-12 col-lg-6 bg-theme2">
              <div class="inner-padding">
                <div class="heading heading-3 heading-white mb-40">
                  <h2 class="heading__title">Manufacturing Abilities</h2>
                  <p class="heading__desc">Big E Imports is currently engaged and is utilising multiple top ranking certified American
                    manufacturing facilities that produce products to some of the world leading supplements brands.
                    These include and not limited to the following brands – Optimum Nutrition, Gaspari Nutrition,
                    MusclePharm, MusclesSport, etc...).</p><br>
  
                      <h2 class="heading__title">Product Development and Comppliance</h2>
                  <p class="heading__desc">Big E Imports is associated with some of the world leading raw materials / ingredients providers
                    in order to assist with ingredients selection for each and every product.<br><br>
                    Big E Imports has an extensive knowledge in nutritional supplements and can provide an insight
                    to a range of ingredients suitable for the purpose the end user is requiring (eg, Thermogenic
                    ingredients for a fat burner, etc…)<br><br>
                    Big E Imports engages compliance brokers and specialised consultants to ensure all ingredients
                    selected in every product are compliant for importation, and the labels and layout of the final
                    product is in a compliant format based on its retailed category to ensure the goods are less likely
                    to be delayed or held at border.<br><br>Big E Imports will provide design templates to assist the end user with the final look of the
                    product. Big E Imports ensure the label is layed out, presented and structured in compliant to its
                    retailed category. </p>
  
                </div><!-- /.heading -->
               
              </div>
            </div><!-- /.col-lg-6 -->
            
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Banner 2 -->

    

    <!-- =====================
       Clients 1
    ======================== -->
    <section id="Certifications" class="clients clients-1 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
            <div class="heading text-center mb-50">
              <h2 class="heading__title">Our Certifications</h2>
              <p class="heading__desc">A GMP certificate is granted when the manufacturing facility has been audited and found to
                demonstrate satisfactory compliance with the required GMP standard. following the US FDA CFR
                Part 111— Current Good Manufacturing Practice in Manufacturing, Packaging, Labeling, or Holding
                operations for Dietary Supplements.</p>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="carousel owl-carousel" data-slide="6" data-slide-md="4" data-slide-sm="2" data-autoplay="true"
              data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="700">
              <div class="client">
                <a href="#"><img src="https://big-e-app.herokuapp.com/images/clients/2.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="https://big-e-app.herokuapp.com/images/clients/5.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="https://big-e-app.herokuapp.com/images/clients/4.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="https://big-e-app.herokuapp.com/images/clients/3.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="https://big-e-app.herokuapp.com/images/clients/6.png" alt="client"></a>
              </div><!-- /.client -->
              <div class="client">
                <a href="#"><img src="https://big-e-app.herokuapp.com/images/clients/1.png" alt="client"></a>
              </div><!-- /.client -->
            </div><!-- /.carousel -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.clients 1 -->

  
    <!-- ========================
            Footer
    ========================== -->
    <footer id="footer" class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 footer__widget footer__widget-about">
              <div class="footer__widget-content">
                <img src="https://big-e-app.herokuapp.com/images/logo/bigeimports-OG@2x.png" alt="logo" width="150" class="footer-logo">
                <p>Our global Optimecs expertise, advanced supply chain technology & customized Optimecs solutions
                  will help you develop and implement successful supply.</p>
              </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-4 footer__widget footer__widget-nav">
              <h6 class="footer__widget-title">Who We Are</h6>
              <div class="footer__widget-content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="#about-us">About Us</a></li>
                    <li><a href="#why">Why Big E Imports?</a></li>
                    <li><a href="#manufacturing">Manufacturing</a></li>
                    <li><a href="#certifications">Certifications</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-4 footer__widget footer__widget-nav">
              <h6 class="footer__widget-title">Quote Portal</h6>
              <div class="footer__widget-content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="/register">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-lg-2 -->
            
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-top -->
      <div class="footer-bottom">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="footer__copyright">
                <span>&copy; Created with love by</span>
                <a href="https://knobin.com">Knobin Digital</a>
              </div><!-- /.Footer-copyright -->
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
              <nav>
                <ul class="list-unstyled footer__copyright-links d-flex flex-wrap justify-content-end">
                  <li><a href="#">Terms & Conditions </a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </nav>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.Footer-bottom -->
    </footer><!-- /.Footer -->

    <div class="module__search-container">
      <i class="fa fa-times close-search"></i>
      <form class="module__search-form">
        <input type="text" class="search__input" placeholder="Type Words Then Enter">
        <button class="module__search-btn"><i class="fa fa-search"></i></button>
      </form>
    </div><!-- /.module-search-container -->

    <button id="scrollTopBtn"><i class="fa fa-long-arrow-up"></i></button>
  </div><!-- /.wrapper -->

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/plugins.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>