<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ERA Imports Quote Portal Login Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          
 
          <form action="authenticate" method="post">
            <div class="form-group2">
              <label for="email">Email address</label>
              <input type="email" class="form-control col-lg-9" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter email">
            </div>
            <div class="form-group2">
              <label for="password">Password</label>
              <input type="password" class="form-control col-lg-9" id="password" aria-describedby="emailHelp" name="password" placeholder="Enter password">
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </div>
  </div>
    </div>
    <div></div>
  </body>
</html>
