<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quote Calculator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://kit.fontawesome.com/a2c9d7080d.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body onload="disableFields()">
    <!-- include header -->
    <%- include('include/header') %>
    <!-- /include header -->

    <div class="main-content">
      
  
      <div class="row">
          <div class="column-1" >
              <div class="vertical-menu">
                  <a href="/quote-portal" class="active">Quote Calculator</a>
                  <a href="/accepted-quotes">Accepted Quotes</a>
                  <a href="/drafted-quotes">Draft Quotes</a>
                  <a href="/my-quote-requests">Custom Quote Requests</a>
                </div>
          </div>
          <div class="column-2" >
            <div style="text-align:right;margin-bottom: 20px;">
              <a href="/request-a-quote" class="btn btn-primary" >Request Custom Quote</a>
            </div>
            
            
            <div class="card">
              <div class="card-body">
                
                <h2>Automatic Quote Calculator</h2>
       
                <form action="generate-quote" method="POST">
                  <hr>
                  <h4>Customer Information</h4>
                  
                  <div class="form-group2">
                    
                    <div class="form-cell">
                      <label for="name">Name</label>
                      <input  type="text" class="form-control" readonly  id="name" aria-describedby="emailHelp" placeholder="Enter Name:" name="name" value="<%= data[0].name%>">
                    </div>
                    
                  </div>

                  <hr>
                  <h4>Origin</h4>
                  <div class="form-group2">
                    
                    <div class="form-cell">
                      <label for="shippingMethod">Shipping Method:</label>
                      <select required class="form-control" name="shippingMethod" id="shippingMethod" onchange="disableFields()" onfocus="this.selectedIndex = -1;">
                          <option value="Air Freight">Air Freight</option>
                          <option value="Sea Freight">Sea Freight</option>
                      </select>
                    </div>

                    <div class="form-cell">
                      <label for="shippingSpeed">Shipping Speed:</label>
                      <select required class="form-control" name="shippingSpeed" id="shippingSpeed" >
                          <option class="airFreight" value="Express">Express</option>
                          <option class="seaFreight"value="Transhipment">Transhipment</option>
                          <option class="seaFreight" value="Direct">Direct</option>
                      </select>
                    </div>

                    <div class="form-cell">
                      <label for="pickupcountry" >Origin Country:</label>
                        <select required  class="form-control" name="pickupcountry" id="pickupcountry">
                            <option value="China">China</option>
                            <option value="United States">USA</option>
                        </select>
                    </div>
                    
                    <div class="form-cell">
                      <label for="loadingPort" >Port / Airport of Loading:</label>
                        <select required  class="form-control" name="loadingPort" id="loadingPort" onchange="displayAddress()" onfocus="this.selectedIndex = -1;">
                            <option class="airFreight" value="CN PVG - Shanghai Pudong International Airport">AIR - CN PVG - Shanghai Pudong International Airport</option>
                            <option class="airFreight" value="CNPEK, Beijing">AIR - CNPEK, Beijing</option>
                            <option class="airFreight" value="CNCAN -  GUANGZHOU">AIR - CNCAN -  GUANGZHOU</option>
                            <option class="airFreight" value="O'hare Airport Chicago">AIR - O'hare Airport Chicago</option>
                            <option class="airFreight" value="Garden City Regional Airport">AIR - Garden City Regional Airport</option>
                            <option class="seaFreight" value="Shanghai Pudong International Airport">SEA - Shekou Port</option>
                            <option class="seaFreight" value="CNSHG - Shanghai Port">SEA - CNSHG - Shanghai Port</option>
                        </select>
                    </div>
                    
                  </div>

                  <div class="form-group2 ">

                    

                    <div class="form-cell">
                      <label for="incoterms">Incoterms:</label>
                      <select required class="form-control" name="incoterms" id="incoterms" onchange="hideAddress()" onfocus="this.selectedIndex = -1;">
                          <option value="EXW">Ex-Works (EXW)</option>
                          <option value="FOB">Free On-Board (FOB)</option>
                      </select>
                    </div>

                    <div class="form-cell EXW">
                      <label for="pickupAddress">Origin Address:</label>
                      <input type="String" class="form-control" required id="pickupAddress" name="pickupAddress" >
                    </div>
                  </div>


                  
                  <hr>
                  <h4>Destination</h4>
                  <div class="form-group2">
                    
                    <div class="form-cell">
                      <label for="deliveryAddress">Delivery Address:</label>
                      <input  type="text"  class="form-control" readonly id="deliveryAddress" aria-describedby="emailHelp" placeholder="Enter Name:" name="deliveryAddress" value="<%= data[0].deliveryAddress%>">
                    
                    </div>
                    
                    
                  </div>

                  <div class="form-group2">

                    <div class="form-cell ">
                      <label for="containerSize">Container Type:</label>
                      <select  class="form-control seaFreight" name="containerSize" id="containerSize">
                        <option value="20' FCL GP">20' FCL GP</option>
                        <option value="40' FCL GP">40' FCL GP</option>
                    </select>
                    </div>

                    <div class="form-cell ">
                      <label for="noOfBoxes">No. of  Pallet/Boxes:</label>
                      <input type="number" class="form-control LCL" required id="noOfBoxes" name="noOfBoxes" onkeyup="computeWeight()">
                    </div>

                    <div class="form-cell ">
                      <label for="withPallet">Would you like us to put this in a pallet?</label>
                      <select required class="form-control" name="withPallet" id="withPallet" onchange="computeWeight()" onfocus="this.selectedIndex = -1;">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    </div>

                    

                    <script>

                    </script>
  
                  </div>

                  
                  <hr>
                  <h4>Dimensions</h4>
                  <div class="form-group2">
                    
  
                    <div class="form-cell">
                      <label for="length">Length (cm):</label>
                      <input type="number" class="form-control airFreight" required id="length" name="length" onkeyup="computeWeight()">
                    </div>
  
                    <div class="form-cell">
                      <label for="width">Width  (cm):</label>
                      <input type="number" class="form-control airFreight" required id="width" name="width"  onkeyup="computeWeight()">
                    </div>
  
                    <div class="form-cell">
                      <label for="height">Height  (cm):</label>
                      <input type="number" class="form-control airFreight" required id="height" name="height"  onkeyup="computeWeight()">
                    </div>

                    <div class="form-cell">
                      <label for="cbm">CBM</label>
                      <input type="number" class="form-control airFreight" disabled id="cbm" name="cbm" >
                    </div>
  
                    <div class="form-cell">
                      <label for="weight">Weight (kg):</label>
                      <input type="number" class="form-control airFreight" required id="weight" name="weight" onkeyup="computeWeight()">
                    </div>
  
                  </div>
                  
                  
                  <hr>
                  <h4 class="cw">Chargeable Weight</h4>
                  <div class="form-group2 cw">
                    <div class="form-cell cw">
                      <br><span class="cw" ><b> <input type="text" class="cw" style="display: inline;border:none;" id="chargeableWeight" name="chargeableWeight" ></b> kg</span>
                    </div>
                    
                  </div>
  
                  
                  
      
                  <script>
                    function computeWeight() {
                      var chargeableWeight = document.getElementById("chargeableWeight");
                      var l = parseFloat(document.getElementById("length").value);
                      var w = parseFloat(document.getElementById("width").value);
                      var h = parseFloat(document.getElementById("height").value);
                      var noOfBoxes = parseFloat(document.getElementById("noOfBoxes").value);
                      var cbm;
                      var shippingMethod = document.getElementById("shippingMethod").value;
                      var withPallet = document.getElementById("withPallet").value;



                      if(l!="" && w!="" && h!="" && noOfBoxes!=""){
                        
                        if(shippingMethod === "Air Freight"){
                          if(withPallet === "Yes"){
                            cbm = ((l*w*h)/4500);
                            document.getElementById('cbm').value = cbm;
                            chargeableWeight.value=(cbm*noOfBoxes) + 20;
                            chargeableWeight.value = chargeableWeight.value.toFixed(2);
                          }
                          else{
                            cbm = ((l*w*h)/4500);
                            document.getElementById('cbm').value = cbm;
                            chargeableWeight.value=cbm*noOfBoxes;
                            chargeableWeight.value = chargeableWeight.value.toFixed(2);
                          }
                          
                        }
                      }
                      else{
                        chargeableWeight.value=0;
                      }
                      
                    }
                    
                    function disableFields(){
                      
                      displayAddress();
                      var shippingMethod = document.getElementById("shippingMethod").value;
                      var airFreight = document.getElementsByClassName('airFreight');
                      var seaFreight = document.getElementsByClassName('seaFreight');
                      if(shippingMethod === "Sea Freight"){
                        
                        document.querySelector('select[name="loadingPort"] option[class="airFreight"]').disabled = true;
                        document.querySelector('select[name="loadingPort"] option[class="airFreight"]').style.background = "E9ECEF !important";
                        document.querySelector('select[name="shippingSpeed"] option[class="airFreight"]').disabled = true;
                        document.querySelector('select[name="shippingSpeed"] option[class="airFreight"]').style.background = "E9ECEF !important";

                        document.querySelector('select[name="loadingPort"] option[class="seaFreight"]').disabled = false;
                        document.querySelector('select[name="loadingPort"] option[class="seaFreight"]').style.background = "ffffff !important";
                        document.querySelector('select[name="shippingSpeed"] option[class="seaFreight"]').disabled = false;
                        document.querySelector('select[name="shippingSpeed"] option[class="seaFreight"]').style.background = "ffffff !important";
                        document.getElementById('withPallet').value = "";
                        document.getElementById('withPallet').disabled = true;
                        document.getElementById('shippingSpeed').value = "";

                      
                        for (var i = 0; i < airFreight.length; i ++) {
                            airFreight[i].readOnly = true;
                            airFreight[i].disabled = true;
                            
                        }
                        for (var i = 0; i < seaFreight.length; i ++) {
                            seaFreight[i].readOnly = false;
                            seaFreight[i].disabled = false;
                            
                        }
                      }
                      else{
                        document.getElementById('withPallet').disabled = false;
                        document.getElementById('containerSize').value="not applicable"
                        
                        document.querySelector('select[name="loadingPort"] option[class="seaFreight"]').disabled = true;
                        document.querySelector('select[name="loadingPort"] option[class="seaFreight"]').style.background = "E9ECEF !important";
                        document.querySelector('select[name="shippingSpeed"] option[class="seaFreight"]').disabled = true;
                        document.querySelector('select[name="shippingSpeed"] option[class="seaFreight"]').style.background = "E9ECEF !important";
                       

                        document.querySelector('select[name="loadingPort"] option[class="airFreight"]').disabled = false;
                        document.querySelector('select[name="loadingPort"] option[class="airFreight"]').style.background = "ffffff !important";
                        document.querySelector('select[name="shippingSpeed"] option[class="airFreight"]').disabled = false;
                        document.querySelector('select[name="shippingSpeed"] option[class="airFreight"]').style.background = "ffffff !important";
                        document.getElementById('shippingSpeed').value = "";

                        for (var i = 0; i < seaFreight.length; i ++) {
                          seaFreight[i].readOnly = true;
                          seaFreight[i].disabled = true;
                          
                        }
                        for (var i = 0; i < airFreight.length; i ++) {
                          airFreight[i].readOnly = false;
                          airFreight[i].disabled = false;
                          
                        }
                      }
                    }
                    

                    function hideAddress(){
                      var incoterms = document.getElementById("incoterms").value;

                      if(incoterms === "EXW"){
                        document.getElementById('pickupAddress').disabled = false;
                      }
                      else{
                        document.getElementById('pickupAddress').disabled = true;
                      }
                    }

                    function displayAddress(){
                      var incoterms = document.getElementById("incoterms").value;
                      var loadingPort = document.getElementById('loadingPort').value;

                      if(incoterms === "EXW" && loadingPort==="CN PVG - Shanghai Pudong International Airport"){
                        document.getElementById('pickupAddress').value = 'ROOM 20A,KIU FU COMMERCIAL BUILDING 300 LOCKHART ROAD, Wan Chai, Hong Kong';
                      }
                      else if (incoterms === "EXW" && loadingPort==="CNPEK, Beijing") {
                        document.getElementById('pickupAddress').value = 'South of S333 Highway, Wulie Town, Jinyang Community  616200,  CN';
                      }
                      else if (incoterms === "EXW" && loadingPort==="CNCAN -  GUANGZHOU") {
                        document.getElementById('pickupAddress').value = '3th Floor,8th Building,No 177,Furong Rd, Xinqiao Street,Baoan Dist,Shenzhen ';
                      }
                      else if (incoterms === "EXW" && loadingPort==="O'hare Airport Chicago") {
                        document.getElementById('pickupAddress').value = '11/F, HUAYI TECHNOLOGY BUILDING, YONGXIANG RD, WUHE COMMUNITY, BANTIAN TOWN, LONGGANG DISTRICT, SHENZHEN, CHINA';
                      }
                      else if (incoterms === "EXW" && loadingPort==="O'hare Airport Chicago") {
                        document.getElementById('pickupAddress').value = '11/F, HUAYI TECHNOLOGY BUILDING, YONGXIANG RD, WUHE COMMUNITY, BANTIAN TOWN, LONGGANG DISTRICT, SHENZHEN, CHINA';
                      }
                      else if (incoterms === "EXW" && loadingPort==="Garden City Regional Airport") {
                        document.getElementById('pickupAddress').value = '4711 NASH ROAD, SCOTT CITY,  MO,  63780,  US';
                      }
                      else if (incoterms === "EXW" && loadingPort==="CNSHK - Shekou Port") {
                        document.getElementById('pickupAddress').value = '11/F, HUAYI TECHNOLOGY BUILDING, YONGXIANG RD, WUHE COMMUNITY, BANTIAN TOWN, LONGGANG DISTRICT, SHENZHEN, CHINA';
                      }
                      else if (incoterms === "EXW" && loadingPort==="CNSHG - Shanghai Port") {
                        document.getElementById('pickupAddress').value = '2 HONGYANG STREET TIANNING DISTRICT, CHANGZHOU,  JIANGSU,  213000,  CN';
                      }
                    }
  
                  </script>
                  
                    <button type="submit" class="btn btn-primary" >Generate Quote</button>
                  
                  
                </form>
          </div>
        </div>
  
  
  
          </div>
      </div>
    </div>
    
  </body>
</html>
