<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ERA Imports Quote Portal Registration Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div class="row">
        <div class="column-1" >
            <div class="vertical-menu">
                <a href="https://big-e-app.herokuapp.com/quote-portal" class="active">Request Quote</a>
                <a href="https://big-e-app.herokuapp.com/accepted-quotes">Accepted Quotes</a>
                <a href="https://big-e-app.herokuapp.com/draft-quotes">Draft Quotes</a>
                <a href="https://big-e-app.herokuapp.com/draft-quotes">Requested Quotes</a>
              </div>
        </div>
        <div class="column-2" >
          <a href="https://big-e-app.herokuapp.com/request-quote">Request Personal Quotation</a>
          <h2>Automatic Quote Calculator</h2>
          <div class="card">
            <div class="card-body">
              
              <h2>Node.js Express Save Data from Html Form to Mongodb Database - Tutsmake.com</h2>
     
              <form action="accept-quote" method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input required type="text" class="form-control col-lg-9"  id="name" aria-describedby="emailHelp" placeholder="Enter Name:" name="name">
                </div>
                <br>
                <label for="pickupcountry">Pickup Country:</label>
                <select required class="form-control col-lg-4" name="pickupcountry" id="pickupcountry">
                    <option value="China">China</option>
                    <option value="United States">USA</option>
                </select>
                
                <label for="pickupsuburb">Pickup Country:</label>
                <select required class="form-control col-lg-4" name="pickupsuburb" id="pickupsuburb">
                    <option value="Ningbo">Ningbo</option>
                    <option value="Yiwu">Yiwu</option>
                </select>
                <br>
                <label for="destination">Destination Country:</label>
                <select required class="form-control col-lg-9" name="destination" id="destination">
                    <option value="Australia">Australia</option>
                    <option value="United States">USA</option>
                </select>
                <br>

                <label for="incoterms">Shipping Method:</label>
                <select required class="form-control col-lg-3" name="incoterms" id="incoterms" >
                    <option value="EXW">Ex-Works</option>
                    <option value="FOB">Free On-Board</option>
                </select>

                <label for="shippingspeed">Shipping Method:</label>
                <select required class="form-control col-lg-3" name="shippingspeed" id="shippingspeed" >
                    <option value="Express">Express</option>
                    <option value="Transhipment">Transhipment</option>
                </select>

                <label for="shippingmethod">Shipping Method:</label>
                <select required class="form-control col-lg-3" name="shippingmethod" id="shippingmethod" onchange="computeQuote()" onfocus="this.selectedIndex = -1;">
                    <option value="Air Freight">Air Freight</option>
                    <option value="LCL-20ft">LCL-20ft</option>
                </select>
    
                <label for="packaging">Packaging:</label>
                <select required class="form-control col-lg-3" name="packaging" id="packaging">
                    <option value="boxes">Boxes</option>
                    <option value="pallet">Pallet</option>
                </select>
                
                <label for="noOfBoxes">No. of  Boxes:</label>
                <input type="number" class="form-control col-lg-3" required id="noOfBoxes" name="noOfBoxes" min="1" max="10">
                <br>
                <label for="length">Length (cm):</label>
                <input type="number" class="form-control col-lg-2" required id="length" name="length" min="1" max="100" onkeyup="computeQuote()">
    
                <label for="width">Width  (cm):</label>
                <input type="number" class="form-control col-lg-2" required id="width" name="width" min="1" max="100" onkeyup="computeQuote()">
    
                <label for="height">Height  (cm):</label>
                <input type="number" class="form-control col-lg-2" required id="height" name="height" min="1" max="100" onkeyup="computeQuote()">
    
                <label for="weight">Weight (kg):</label>
                <input type="number" class="form-control col-lg-2" required id="weight" name="weight" min="1" max="100" onkeyup="computeQuote()">
                <br>
                
                <input type="checkbox" id="tag" name="tag" value="Accepted">
                <label for="accepttag">By ticking the box below, you have confimed that you are accepting the value of the above quotaion. Leave uncheck to save the quote as drafts.</label> 
               

                <input type="text" class="form-control col-lg-9" id="quoteprice" name="quoteprice" ><br><br>
    
                <script>
                  function computeQuote() {
                    var quoteprice = document.getElementById("quoteprice");
                    var l = document.getElementById("length").value;
                    var w = document.getElementById("width").value;
                    var h = document.getElementById("height").value;
                    var cbm;
                    var kg = document.getElementById("kg");
                    var shippingmethod = document.getElementById("shippingmethod").value;

                    if(l!="" && w!="" && h!=""){
                      
                      if(shippingmethod === "Air"){
                      cbm = (l*w*h)/4500;
                      quoteprice.value=cbm *100;
                      }
                      else{
                        cbm = (l*w*h)/3500;
                        quoteprice.value=cbm * 50;
                      }
                    }
                    else{
                      quoteprice.value=0;
                    }
                    
                  }

                  

                </script>
                
                <button type="submit" class="btn btn-primary">Accept Quote</button>
              </form>
        </div>
      </div>



        </div>
    </div>
  </body>
</html>
