<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quote Calculator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://kit.fontawesome.com/a2c9d7080d.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>

    <div class="row">
        <div class="column-1" >
            <div class="vertical-menu">
                <a href="/quote-portal" class="active">Quote Calculator</a>
                <a href="/accepted-quotes">Accepted Quotes</a>
                <a href="/drafted-quotes">Draft Quotes</a>
                <a href="/drafted-quotes">Requested Quotes</a>
              </div>
        </div>
        <div class="column-2" >
          <a href="https://big-e-app.herokuapp.com/request-quote">Request Personal Quotation</a>
          
          <div class="card">
            <div class="card-body">
              
              <h2>Automatic Quote Calculator</h2>
     
              <form action="accept-quote" method="POST">
                <div class="form-group2">
                  <div class="form-cell">
                    <label for="name">Name</label>
                    <input required type="text" class="form-control"  id="name" aria-describedby="emailHelp" placeholder="Enter Name:" name="name">
                  </div>
                  
                </div>
                <div class="form-group2">
                  <div class="form-cell">
                    <label for="pickupcountry" >Pickup Country:</label>
                      <select required  class="form-control" name="pickupcountry" id="pickupcountry">
                          <option value="China">China</option>
                          <option value="United States">USA</option>
                      </select>
                  </div>
                  
                  <div class="form-cell">
                    <label for="pickupsuburb" >Pickup Suburb:</label>
                      <select required  class="form-control" name="pickupsuburb" id="pickupsuburb">
                          <option value="Ningbo">Ningbo</option>
                          <option value="Yiwu">Yiwu</option>
                      </select>
                  </div>
                  
                </div>
                

                <div class="form-group2">

                  <div class="form-cell">
                    <label for="destination">Destination Country:</label>
                    <select required class="form-control" name="destination" id="destination">
                        <option value="Australia">Australia</option>
                        <option value="United States">USA</option>
                    </select>
                  </div>
                  

                  <div class="form-cell">
                    <label for="incoterms">Incoterms:</label>
                    <select required class="form-control" name="incoterms" id="incoterms" >
                        <option value="EXW">Ex-Works</option>
                        <option value="FOB">Free On-Board</option>
                    </select>
                  </div>
                  
                  <div class="form-cell">
                    <label for="shippingspeed">Shipping Speed:</label>
                    <select required class="form-control" name="shippingspeed" id="shippingspeed" >
                        <option value="Express">Express</option>
                        <option value="Transhipment">Transhipment</option>
                    </select>
                  </div>

                </div>
                

                <div class="form-group2">
                
                  <div class="form-cell">
                    <label for="shippingmethod">Shipping Method:</label>
                    <select required class="form-control " name="shippingmethod" id="shippingmethod" onchange="computeQuote()" onfocus="this.selectedIndex = -1;">
                        <option value="Air Freight">Air Freight</option>
                        <option value="LCL-20ft">LCL-20ft</option>
                    </select>
                  </div>

                  <div class="form-cell">
                    <label for="packaging">Packaging:</label>
                    <select required class="form-control " name="packaging" id="packaging">
                        <option value="boxes">Boxes</option>
                        <option value="pallet">Pallet</option>
                    </select>
                  </div>

                  
                  <div class="form-cell">
                    <label for="noOfBoxes">No. of  Boxes:</label>
                    <input type="number" class="form-control" required id="noOfBoxes" name="noOfBoxes" min="1" max="10">
                  </div>
                  
                </div>
                

                
                <div class="form-group2">


                  <div class="form-cell">
                    <label for="length">Length (cm):</label>
                    <input type="number" class="form-control" required id="length" name="length" min="1" max="100" onkeyup="computeQuote()">
                  </div>

                  <div class="form-cell">
                    <label for="width">Width  (cm):</label>
                    <input type="number" class="form-control" required id="width" name="width" min="1" max="100" onkeyup="computeQuote()">
                  </div>

                  <div class="form-cell">
                    <label for="height">Height  (cm):</label>
                    <input type="number" class="form-control" required id="height" name="height" min="1" max="100" onkeyup="computeQuote()">
                  </div>

                  <div class="form-cell">
                    <label for="weight">Weight (kg):</label>
                    <input type="number" class="form-control" required id="weight" name="weight" min="1" max="100" onkeyup="computeQuote()">
                  </div>

                </div>
                
                
                
                <div class="form-group2">
                  <label for="quoteprice">Your Quotation</label>
                  <br><span><b>USD <input type="text" style="display: inline;border:none;" id="quoteprice" name="quoteprice" ></b> </span>
                  
                </div>

                <div class="form-group2">
                  <input type="checkbox" id="tag" name="tag" value="Accepted">
                  <label for="accepttag">&nbsp;By ticking the box below, you have confimed that you are accepting the value of the above quotaion. Leave uncheck to save the quote as drafts.</label> 
                </div>
                
    
                <script>
                  function computeQuote() {
                    var quoteprice = document.getElementById("quoteprice");
                    var l = document.getElementById("length").value;
                    var w = document.getElementById("width").value;
                    var h = document.getElementById("height").value;
                    var cbm;
                    var kg = document.getElementById("kg");
                    var shippingmethod = document.getElementById("shippingmethod").value;

                    if(l!="" && w!="" && h!=""){
                      
                      if(shippingmethod === "Air"){
                      cbm = (l*w*h)/4500;
                      quoteprice.value=cbm *100;
                      }
                      else{
                        cbm = (l*w*h)/3500;
                        quoteprice.value=cbm * 50;
                      }
                    }
                    else{
                      quoteprice.value=0;
                    }
                    
                  }

                  

                </script>
                
                <button type="submit" class="btn btn-primary">Accept Quote</button>
              </form>
        </div>
      </div>



        </div>
    </div>
  </body>
</html>
