<!-- Header -->
<style>
  .header-form {
    float: right;
  }
  .header-form button{
    padding: 15px;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    color:white;
    font-weight: bold;
  }

  .header-form button:hover{
    background-color: #Dc3336;
    border: none !important;
  }

  .header-form button:active{
    background-color: #Dc3336;
    border: none !important;
  }

  img{
    padding:10px;
  }
</style>
<header id="header">
   

    <div class="topnav">
      <img src="https://i.ibb.co/8jJCCQM/Big-E-Imports-Logo-2x.png" alt="Big-E-Imports-Logo-2x" border="0" width="100">
      <form class="header-form" action="/logout" method="post"><button type="submit" >Log Out</button></form>
        
      </div>
</header>
<!-- /Header -->

