<!-- Header -->
<header id="header">
   

    <div class="topnav">
        <a title="BigE Imports Logo">Big E Imports</a>
        <form action="/logout" method="post"><button type="submit" class="btn btn-primary">Log Out</button></form>
        
      </div>
</header>
<!-- /Header -->